In [78]:
#dependencies
import pandas as pd
from sqlalchemy import create_engine

In [79]:
#store djia market data from CSV as a dataframe
file_dji = './Resources/DJI.csv'
dji_df = pd.read_csv(file_dji)
dji_df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,1985-01-29,1277.719971,1295.489990,1266.890015,1292.619995,1292.619995,13560000
1,1985-01-30,1297.369995,1305.099976,1278.930054,1287.880005,1287.880005,16820000
2,1985-01-31,1283.239990,1293.400024,1272.640015,1286.770020,1286.770020,14070000
3,1985-02-01,1276.939941,1286.109985,1269.770020,1277.719971,1277.719971,10980000
4,1985-02-04,1272.079956,1294.939941,1268.989990,1290.079956,1290.079956,11630000

In [100]:
#transform data as-needed

#exception handle for re-runs
try:
    del dji_df['Open']
    del dji_df['High']
    del dji_df['Low']
    del dji_df['Adj Close']
    del dji_df['Volume']
except KeyError:
    print('One or more keys not available for deletion (potential re-run)')
    pass

dji_df = dji_df.rename(columns={'Close':"Close_DJIA"})
dji_df.head()

One or more keys not available for deletion (potential re-run)

         Date   Close_DJIA
0  1985-01-29  1292.619995
1  1985-01-30  1287.880005
2  1985-01-31  1286.770020
3  1985-02-01  1277.719971
4  1985-02-04  1290.079956

In [81]:
#store nasdaq market data from CSV as a dataframe
file_nasdaq = './Resources/NASDAQCOM.csv'
nasdaq_df = pd.read_csv(file_nasdaq)
nasdaq_df.head()

         DATE NASDAQCOM
0  2000-01-03   4131.15
1  2000-01-04   3901.69
2  2000-01-05   3877.54
3  2000-01-06   3727.13
4  2000-01-07   3882.62

In [82]:
#transform data as-needed
nasdaq_df = nasdaq_df.rename(columns={'NASDAQCOM': 'Close_NASDAQCOMPOSITE'})
nasdaq_df

            DATE Close_NASDAQCOMPOSITE
0     2000-01-03               4131.15
1     2000-01-04               3901.69
2     2000-01-05               3877.54
3     2000-01-06               3727.13
4     2000-01-07               3882.62
...          ...                   ...
5256  2020-02-25              8965.613
5257  2020-02-26              8980.773
5258  2020-02-27               8566.48
5259  2020-02-28              8567.367
5260  2020-03-02           8952.165039

[5261 rows x 2 columns]

In [83]:
#store SARS data from CSV as a dataframe
file_sars = './Resources/sars_2003_complete_dataset_clean.csv'
sars_df = pd.read_csv(file_sars)
sars_df.head()

,Date,Country,Cumulative number of case(s),Number of deaths,Number recovered
0,2003-03-17,Germany,1,0,0
1,2003-03-17,Canada,8,2,0
2,2003-03-17,Singapore,20,0,0
3,2003-03-17,"Hong Kong SAR, China",95,1,0
4,2003-03-17,Switzerland,2,0,0

In [84]:
#transform data as-needed

In [85]:
#store H1N1 data from CSV as a dataframe
file_h1n1 = './Resources/Pandemic (H1N1) 2009.csv'
h1n1_df = pd.read_csv(file_h1n1)
h1n1_df.head()

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 0: invalid start byte

In [ ]:
#transform data as-needed

In [ ]:
#store Ebola data from CSV as a dataframe
file_ebola = './Resources/ebola_2014_2016_clean.csv'
ebola_df = pd.read_csv(file_ebola)
ebola_df.head()

In [ ]:
#transform data as-needed

In [ ]:
#store Covid-19 data from CSV as a dataframe
file_covid = './Resources/covid_19_clean_complete.csv'
covid_df = pd.read_csv(file_covid)
covid_df.head()

In [ ]:
#transform data as-needed

In [ ]:
#connect to AWS cloud database
connection_string = ''
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
#check tables
engine.table_names()

In [ ]:
#use pandas to load market data df into database
<dataframe>.to_sql(name = '<name>', con = engine, if_exists = 'replace')

In [ ]:
#use pandas to load SARS data df into database

In [ ]:
#use pandas to load H1N1 data df into database

In [ ]:
#use pandas to load Ebola data df into database

In [ ]:
#use pandas to load Covid-19 data df into database

In [ ]:
#query tables to validate load
<df>.read_sql_query('<query>', con = engine).head()